label {
  color: white;
}

.ant-input.border {
  width: 5rem;
  border: 1px solid black;
}

.subsectionHeader {
  text-align: center;
  margin-bottom: 50px;
  background: #101010;
  color: #cdcdcd;
  padding: 20px;
}

.Finances_Form_Sections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ant-form-item-control-input-content {
  display: flex;
  flex-direction: column;
}

.Finances_Form_Container_Styles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 125px;
  margin-right: 125px;
  margin-bottom: 75px;
}

.Finances_Form_Label {
  margin-bottom: 30px;
}

.Finances_Form_Container_Styles_Subsection {
  margin-top: 60px;
  margin-left: -300px;
  padding-right: 200px;
}

.Finances_Form_Inputs {
  color: #ffffff;
}
