/***  Variables  ***/
/*** COMPONENTS  ***/
.Layout {
  height: 100%;
}
.Layout .Header {
  background: white;
  height: 8%;
}
.Layout .Content {
  padding: 0 50px;
}
.Layout .Footer {
  text-align: center;
}
.NavHeader {
  display: flex;
  justify-content: space-between;
  height: 6vh;
  margin-top: 1%;
}
.NavHeader__logo {
  height: auto;
  width: 18%;
}
.NavHeader__Menu {
  height: auto;
  width: 40%;
  display: flex;
  justify-content: space-around;
}
.RenderLayoutTemplate {
  height: 100vh;
}
.RenderLayoutTemplate .Content__Container {
  height: 90%;
}
.RenderLayoutTemplate .Content__Container-Card {
  height: 100%;
}
.BreadCrumbs {
  margin: 16px 0;
}
.RenderCases {
  height: 100vh;
}
.RenderCaseView {
  height: 100vh;
}
