/***  Variables  ***/
/*** COMPONENTS  ***/
.NavHeader {
  display: flex;
  justify-content: space-between;
  height: 6vh;
  margin-top: 1%;
}
.NavHeader__logo {
  height: auto;
  width: 18%;
}
.NavHeader__Menu {
  height: auto;
  width: 40%;
  display: flex;
  justify-content: space-around;
}
.RenderLayoutTemplate {
  height: 100%;
}
.RenderLayoutTemplate .Layout {
  height: 100%;
}
.RenderLayoutTemplate .Layout .Header {
  background: white;
  height: 8%;
}
.RenderLayoutTemplate .Layout .Content {
  padding: 10 50px;
}
.RenderLayoutTemplate .Layout .Content__Container {
  height: 90%;
}
.RenderLayoutTemplate .Layout .Content__Container-Card {
  height: 100%;
}
.RenderLayoutTemplate .Layout .Footer {
  text-align: center;
}
.BreadCrumbs {
  margin: 16px 0;
}
.ant-collapse .ant-collapse-item .ant-collapse-header {
  color: white;
}
.ant-collapse-header {
  background: #007fd4;
  color: white;
  font-size: 1.25rem;
}
.ant-collapse-item {
  color: white;
}
.ant-collapse-content-box {
  background-color: #1c1c1c;
  color: #cdcdcd;
}
.ant-collapse-header {
  background: #101010;
  color: white;
  font-size: 1.25rem;
}

.HouseholdInformationDetails__Container {
  color: #ffffff;
  margin-left: 1.5rem;
}
.HouseholdInformationDetails__Form {
  background: #007fd4;
}
.LengthTimeHomelessCase {
  width: 100%;
}
.CircumstancesContainer {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
}
.CircumstancesCheckboxes {
  margin-left: 1.5rem;
}
.HouseholdInformationDetails__Form__Circumstances {
  grid-row: 1 / span 2;
}
.HouseholdInformationDetails__Form__SocialWorker {
  grid-column: 2;
}
.HouseholdInformationDetails__Form__PrevLivSit {
  grid-row: 2;
  grid-column: 2;
}
.HouseholdInformationDetails__Form__Inputs {
  width: 20rem;
}
.HouseholdInformationDetails__Form__h4 {
  color: #cdcdcd;
}
.CPSInvolvement > .ant-form-item {
  display: flex;
  flex-flow: column nowrap;
}
.CPSInvolvement > .ant-form-item > .ant-col-8 {
  max-width: 30rem;
  text-align: left;
}
.HomelessTime__SingleContainer > .ant-row {
  display: flex;
  flex-flow: column nowrap;
}
.HomelessTime__SingleContainer > .ant-row > .ant-col-8 {
  max-width: 30rem;
}
.HomelessTime__Margin {
  margin-left: 0rem;
}
.HomelessTime__SingleContainer > .ant-row > .ant-form-item-label {
  text-align: left;
  width: 35rem;
}
.HouseholdInformationDetails__Form__p {
  color: #cdcdcd;
}
.HouseholdInformationDetails__Form__PrevLivSit > .ant-row {
  display: flex;
  flex-flow: column nowrap;
}
.HouseholdInformationDetails__Form__PrevLivSit > .ant-row > .ant-col-8 {
  text-align: left;
}
.HouseholdInformationDetails__Form__SocialWorker > .ant-row {
  display: flex;
  flex-flow: column nowrap;
}
.HouseholdInformationDetails__Form__SocialWorker > .ant-row > .ant-col-8 {
  text-align: left;
  max-width: 30rem;
}
.editButtonsContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.editButtonsContainer > .ant-btn-primary {
  border: 3px solid #007fd4;
  padding-left: 52px;
  padding-right: 52px;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.editButtonsContainer > .ant-btn-primary:hover {
  border: 3px solid #cdcdcd;
}
.CaseDetailsLabel {
  color: #ffffff;
}
.CaseDetailsLabel__Disabled {
  color: #cdcdcd;
}
.YearsMargin {
  margin-left: 0.95rem;
}
.ant-form-item-label {
  color: #ffffff;
}
.ant-checkbox + span {
  color: #ffffff;
}
.ant-checkbox-disabled + span {
  color: #cdcdcd;
}
.ant-checkbox-checked .ant-checkbox-inner {
  border-color: #007fd4 !important;
  background-color: #007fd4;
}
.ant-checkbox-checked-disabled .ant-checkbox-inner {
  background-color: #007fd4;
  border-color: #007fd4 !important;
}
.ant-radio-wrapper {
  color: #ffffff;
}
.ant-radio-disabled + span {
  color: #cdcdcd;
}
.ant-radio-checked .ant-radio-inner {
  border-color: #007fd4 !important;
}
.ant-radio-checked .ant-radio-inner:after {
  background-color: #007fd4;
}
.ant-radio:hover .ant-radio-inner {
  border-color: #007fd4;
}
.ClientFamilyInformation__Form {
  background: #007fd4;
}
.ClientFamilyInformation__Form__InitialDate {
  color: #d2d2d7;
  margin-left: 1.2rem;
}
.ClientFamilyInformation__Form__h1 {
  color: #d2d2d7;
  margin-left: 1.25rem;
}
.ClientFamilyInformation__Form__SectionGrid2 {
  color: #d2d2d7;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.ClientFamilyInformation__Form__SectionGrid3 {
  color: #d2d2d7;
  width: 90%;
  margin-left: 1.2rem;
}
.ClientFamilyInformation__Form__SmallInputs {
  color: #d2d2d7;
}
.ClientFamilyInformation__Form__SectionGrid1 {
  color: #d2d2d7;
  width: 45%;
}
.ant-col-8 {
  max-width: 20rem;
  flex: 10;
}
.ClientFamilyInformation__Form__Inputs {
  width: 21rem;
}
.CityandState__Container {
  display: flex;
  flex-flow: row nowrap;
}
.StateMargin {
  margin-left: 2.2rem;
}
.ClientFamilyInformation__Form__VeteranStatus {
  color: #d2d2d7;
  margin-left: 1.25rem;
}
.ClientFamilyInformation__Form__FamilyMembers__Container {
  color: #d2d2d7;
}
.ClientFamilyInformation__Form__FamilyMembers__formItem {
  color: #d2d2d7;
}
.ClientFamilyInformation__Form__FamilyMembers__IsPregnant {
  color: #d2d2d7;
  margin-left: 1.25rem;
}
.pregnantFamilyMember__Container {
  margin-left: 1.25rem;
}
.ClientFamilyInformation__Inputs > .ant-input {
  background-color: #ffffff;
}
.ClientFamilyInformation__Inputs__ItemLabel {
  color: #d2d2d7;
}
.ClientFamilyInformation__Inputs__ItemLabel__Small {
  color: #d2d2d7;
  width: 10rem;
}
.ant-btn-primary {
  margin: 1rem;
  color: #cdcdcd;
  border-color: #007fd4;
}
.ant-btn-primary-notes {
  grid-row: 3;
  grid-column: 5;
  margin: 1rem;
}
.ant-btn-primary-noteDetails {
  width: 18vw;
}
.ant-btn-primary-noteFilter {
  margin: 0;
}
.SingleNote__Container {
  border-style: groove;
  background-color: #3f3f3f;
  color: #fcfcfc;
  margin: 0 auto 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  grid-auto-flow: row dense;
  width: 50vw;
}
.SingleNote__Picture {
  grid-row: 2;
  grid-column: 1;
  margin: auto;
}
.SingleNote__NoteText {
  grid-row: 2;
  grid-column: 2 / span 4;
  padding-right: 1rem;
}
.SingleNote__InfoStyle {
  margin: 0.5rem 0;
  grid-row: 1;
  grid-column: 3 / span 2;
}
.SingleNote__InfoStyle__HeaderStyle {
  color: #fcfcfc;
}
.Notes__Container {
  margin: auto;
}
.Notes__Container__SwitchPanel {
  margin: auto;
  display: flex;
  justify-content: center;
}
.Notes__ShowNotes {
  overflow-y: scroll;
  max-height: 35vh;
}
.Notes__Filter {
  width: 10vw;
  margin: 1rem;
  color: #cdcdcd;
}

.DashHeader {
  background-color: #101010;
  display: flex;
  justify-content: space-between;
}
.DashHeader__logo {
  height: 100px;
  width: 409px;
  margin-left: 80px;
}
.Placeholder_ProfileLogo {
  width: 55px;
  height: 52px;
  margin-top: 23px;
  margin-right: 65px;
}
.DashHeader_Menu {
  height: 1830px;
  width: 40%;
  display: flex;
  justify-content: space-around;
  background-color: #242424;
}

.ant-menu.ant-menu-dark {
  background-color: #262626;
  height: 70px;
}
.ant-menu-dark.ant-menu-horizontal {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-right: 120px;
}

.subsectionContainer {
  border: solid 1px #6e6e6e;
  background: #101010;
}

.subsectionHeader {
  text-align: center;
  margin-bottom: 50px;
  background-color: #706f6f;
  padding: 20px;
}

.borderStyled {
  width: 5rem;
  border: 1px solid black;
}

.grid {
  display: grid;
  /* gridTemplateColumns: 1fr 1fr 1fr 1fr; */
  margin: '0px 40px';
}

.containerStyles {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: '40px';
  background: #101010;
  color: #cdcdcd;
  padding: 20px;
}

.ant-input {
  background-color: #2e2e2e;
}

.inputStyles {
  width: 20rem;
  background-color: #2e2e2e;
}

.inputStylesShort {
  width: 7rem;
  background-color: #2e2e2e;
}

.ant-picker {
  background-color: #2e2e2e;
}

.ant-select-selection-item {
  background-color: #2e2e2e;
}

.formStyles {
  display: flex;
  justify-content: center;
}

.sectionLeft {
  margin: 20px;
}

.sectionRight {
  margin: 20px;
}

.shortInputContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

.checkboxStyles {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.ant-divider-inner-text {
  color: #ffffff;
}

.ant-form-item-label > label {
  color: #ffffff;
}


/* finances styling */

.ant-form-item-control-input-content {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.ant-input {
  color: white;
  margin-left: 10px;
}

.Finances_Form_Inputs {
  color: #ffffff;
}

.Finances_Form_Label {
  margin-bottom: 25px;
  color: white;
}

.Finances_Form_Amount_Container {
  margin-bottom: 20px;
  margin-top: 12px;
  margin-left: 15px;
}

.Finances_Form_Amount_Label {
  display: inline-block;
}

.Finances_Form_Sections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  padding-top: 2rem;
  margin: 0 12rem;
}

.Finances_Form_Container_Styles {
  display: flex;
  flex-direction: row;
}

.Finances_Form_Container_Styles_Subsection1 {
  margin-left: 125px;
  margin-top: 10px;
}

.Finances_Form_Container_Styles_Subsection2 {
  margin-top: 53px;
}

.sectionContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
}

.referralContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.CaseDetails {
  display: flex;
  flex-flow: row nowrap;
  background-color: black;
}
.CaseDetails__LeftSide {
  width: 50%;
}
.CaseDetails__LeftSideHead {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
.CaseDetails__LeftSideHead h2 {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 0rem;
  font-size: 48px;
  color: #d2d2d7;
}
.CaseDetails__LeftSideHead h3 {
  color: #cdcdcd;
  font-size: 24px;
  margin-bottom: 0rem;
  margin-top: 0.5rem;
}
.CaseDetails__LeftSideHead button {
  width: 256.34px;
  height: 48.16px;
  background: #333333;
  border-radius: 25px 0px 10px;
  color: #cdcdcd;
  border-color: #007fd4;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.CaseDetails__LeftSideHead button:hover {
  background-color: #333333;
  border-color: #cdcdcd;
  color: #cdcdcd;
}
.CaseDetails__LeftSideBtnsContainer {
  display: flex;
  flex-flow: column nowrap;
  margin: 1rem;
}
.CaseDetails__Leftside__gridHead {
  width: 100%;
  background-color: black;
  color: white;
  height: 3.5rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.gridColumns {
  display: flex;
  justify-content: center;
}
.ant-collapse > .ant-collapse-item {
  margin-bottom: 0.75rem;
  border-bottom: 0px;
}
.mainCollapse {
  border: 0;
  background-color: black;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  background-color: #007fd4;
  color: #cdcdcd;
}
.ant-collapse-content-box {
  background-color: #007fd4;
}
.Leftside__Bottom__ButtonsContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 1rem;
}
.leftSideBottomButtons {
  background-color: #007fd4;
  border: 0;
  color: #cdcdcd;
  width: 10rem;
  margin-right: 1.5rem;
  border-radius: 4px;
}
.leftSideBottomButtons:hover {
  background-color: #007fd4;
  border: 1px solid #cdcdcd;
  color: #cdcdcd;
}
.CaseDetails__RightSide {
  width: 50%;
}
.Rightside__Head {
  margin: 1rem;
  margin-left: 4rem;
  margin-bottom: 0rem;
  font-size: 30px;
}
.Rightside__Header {
  color: #cdcdcd;
  font-size: 48px;
  margin-bottom: 0rem;
}
.Rightside__SearchBar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-right: 1rem;
}
.Rightside__SearchBar img {
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.Rightside__SearchBar h3 {
  color: #d2d2d7;
  opacity: 0.5;
  font-size: 36px;
}
.SearchBar {
  background-color: black;
  height: 2rem;
  width: 25rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  border: 2px solid #cdcdcd;
  border-radius: 20px 0px 10px;
  color: #cdcdcd;
}
.SearchBar > .ant-input {
  background-color: black;
  color: #cdcdcd;
}
.ant-input-prefix {
  margin-top: 1rem;
}
.Rightside__Notes__BoxandButton {
  width: 91.5%;
}
.Rightside__Notes__BoxandButton > .ant-space > .ant-space-item > .ant-input {
  background-color: white;
  margin: 1rem;
  margin-top: 0.5rem;
  color: black;
}
.Rightside__Notes__BoxandButton > .ant-space {
  width: 100%;
}
.saveNoteButton {
  background-color: #007fd4;
  border: 0;
  border-radius: 4px;
  color: #cdcdcd;
  margin-left: 1rem;
  width: 10rem;
}
.saveNoteButton:hover {
  background-color: #007fd4;
  border: 1px solid #cdcdcd;
  color: #cdcdcd;
}
.Rightside__PreviousNotes {
  width: 91.5%;
  height: 17rem;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: black;
  margin-top: 2rem;
  margin-left: 1rem;
}
.Rightside__PreviousNotes::-webkit-scrollbar {
  background-color: #c4c4c4;
  width: 0.5rem;
  border-radius: 10px;
}
.Rightside__PreviousNotes::-webkit-scrollbar-thumb {
  background-color: #333333;
  width: 0.5rem;
  border-radius: 10px;
}
.Rightside__PreviousNotes h3 {
  color: #cdcdcd;
}
.Rightside__PreviousNotes p {
  color: #cdcdcd;
}
.SidebarContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  margin: 1rem;
}
.SidebarButton {
  background-color: #c4c4c4;
  border: 0;
  color: #000000;
  width: 9rem;
  border-radius: 4px;
  margin: 0.5rem;
}
.SidebarButton:hover {
  background-color: #007fd4;
  border: 1px solid #cdcdcd;
  color: #cdcdcd;
}
.SidebarButtons {
  margin-bottom: 5rem;
}
.SearchEventBar {
  background-color: black;
  height: 2rem;
  width: 10rem;
  margin-top: 2em;
  margin-bottom: 0.5rem;
  border: 2px solid #cdcdcd;
  border-radius: 20px 0px 10px;
  color: #cdcdcd;
}
.Sider {
  background-color: #000000;
}
.WeeklyCalendar {
  background-color: #101010;
}
.WeeklyCalendar h3 {
  color: #cdcdcd;
}
.RecentCases {
  font-size: larger;
  background-color: #131313;
}
.TableData {
  display: flex;
  flex-direction: column;
  width: 950px;
  height: 1000px;
  margin: 40px 0px 206px 100px;
  background-color: #101010;
}
.CasesTitle {
  font-size: 40px;
  margin-left: 360px;
  margin-top: 40px;
  color: #d2d2d7;
}
.ant-table-column-title {
  color: #007fd4;
}
.ant-table-thead > tr > th {
  color: #007fd4;
  background-color: #484848;
  border-bottom: 8px solid #101010;
}
.ant-table-tbody > tr > td {
  border-bottom: 8px solid #101010;
  height: 74px;
}
.ant-table-thead th.ant-table-column-sort {
  background-color: #484848;
}
.ant-table-cell {
  background-color: #706f6f;
  color: #cdcdcd;
}
td.ant-table-column-sort {
  background-color: #706f6f;
}
.column {
  display: flex;
  flex-direction: row;
  background-color: #101010;
}
.ActivityTitle {
  font-size: 40px;
  margin: 68px 0px 20px 450px;
  color: #d2d2d7;
}
.ant-card-body {
  background-color: #262626;
  border-radius: 50px 10px;
  width: 400px;
}
.ant-card-bordered {
  background-color: #101010;
  border: 1px solid #101010;
}
.ant-card-meta-title {
  color: #c4c4c4;
}
.ant-card-meta-description {
  color: #c4c4c4;
}
.CardDiv {
  margin-left: 119px;
  display: grid;
  grid-template-columns: 48ch auto;
  row-gap: 20px;
  grid-auto-columns: 20px;
}
.CardHeader {
  color: #c4c4c4;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;
}
.ant-btn-primary {
  border-radius: 25px;
  margin: 1px;
}
.VectorArrow {
  width: 23px;
  height: 23px;
}
.ant-card-meta-avatar {
  margin-top: 15px;
}

.RenderCMLogin{
  background-color: #101010;
}

.printNotesHeader{
  border-bottom: 1px solid;
  margin-bottom: 3%;
  display: flex;
  justify-content: space-between;
}

.headerDivPrintNotes{
  font-size: 3.5rem;
  font-family: 'Times New Roman', Times, serif;
  padding: 1%;
  padding-right: 5%;
}

.logoInHeader{
  height: 11vh;
}

.printNotesContainer{
  width: 80%;
  margin: 0 auto;
}

.printNotesSectionContainer{
  padding-bottom: .5%;
  padding-left: .5%;
  display: flex;
}

.notesHeading{
  font-weight: bold;
  margin-top: 3%;
  font-size: medium;
}

.notesHeading2{
  margin-left: 5%;
}

.theLiteralNotesMessage{
  font-size: 1.2rem;
  font-family: 'Times New Roman', Times, serif;
}

#okta-sign-in.auth-container .o-form-head {
  color: #d2d2d7;
}

#okta-sign-in.auth-container.main-container {
  background-color: #101010;
}

#okta-sign-in.auth-container.main-container {
  border-color: #101010;
}

#okta-sign-in.auth-container .okta-sign-in-header {
  border-bottom-color: #101010;
}

#okta-sign-in * {
  color: #d2d2d7;
}

#okta-sign-in.auth-container a.link:link {
  color: #d2d2d7;
}


