/***  Variables  ***/

/*** COMPONENTS  ***/
.NavHeader {
  display: flex;
  justify-content: space-between;
  height: 6vh;
  margin-top: 1%;

  .logo {
    height: auto;
    width: 18%;
  }

  .Menu {
    height: auto;
    width: 40%;
    display: flex;
    justify-content: space-around;
  }
}

.RenderLayoutTemplate {
  height: 100vh;

  .layout {
    height: 100%;

    .Header {
      background: white;
      height: 8%;
    }

    .Content {
      padding: 0 50px;

      .site-layout-content {
        height: 90%;
      }
    }

    .Footer {
      text-align: center;
    }
  }

  .Card {
    height: 100%;
  }
}

.BreadCrumbs {
  margin: 16px 0;
}
