/***  Variables  ***/
// @primary-color: #007fd4

/*** COMPONENTS  ***/
.NavHeader {
  display: flex;
  justify-content: space-around;
  height: 6vh;
  margin-top: 1%;
  &__logo {
    height: auto;
    width: 18%;
  }
  &__Menu {
    height: auto;
    width: 40%;
    display: flex;
    justify-content: space-around;
  }
}

.RenderLayoutTemplate {
  height: 100%;
  .Layout {
    height: 100%;
    .Header {
      background: white;
      height: 8%;
    }
    .Content {
      padding: 0 50px;
      &__Container {
        height: 90%;
        &-Card {
          height: 100%;
        }
      }
    }
    .Footer {
      text-align: center;
    }
  }
}

.BreadCrumbs {
  margin: 16px 0;
}

.ant-collapse {
  .ant-collapse-item {
    .ant-collapse-header {
      color: white;
    }
    &-header {
      background: #007fd4;
      color: white;
      font-size: 1.25rem;
    }
    &-item {
      color: white;
    }
    &-content-box {
      background-color: #1c1c1c;
      color: #cdcdcd;
    }
  }
}

.ant-collapse-header {
  background: #101010;
  color: white;
  font-size: 1.25rem;
}

.HouseholdInformationDetails {
  &__Container {
    color: #ffffff;
  }
  &__Form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    grid-auto-flow: row dense;
    padding-top: 2rem;
    width: 80%;
    padding: 2rem;
    margin: 0 12rem;
    background: #3f3f3f;
    color: #ffffff;
    &__Circumstances {
      grid-row: 1 / span 2;
    }
    &__SocialWorker {
      grid-column: 2;
    }
    &__PrevLivSit {
      grid-row: 2;
      grid-column: 2;
    }
    &__Inputs {
      width: 20rem;
    }
    &__h4 {
      color: #cdcdcd;
    }
    &__p {
      color: #cdcdcd;
    }
    .ant-btn {
      &-primary {
        margin: 1rem;
        color: #cdcdcd;
        border-color: #007fd4;
        &-notes {
          grid-row: 3;
          grid-column: 5;
          margin: 1rem;
        }
        &-noteDetails {
          width: 18vw;
        }
        &-noteFilter {
          margin: 0;
        }
      }
    }
  }
}

.CaseDetailsLabel {
  color: #ffffff;
  &__Disabled {
    color: #cdcdcd;
  }
}

.ant-form-item-label {
  color: #ffffff;
}

.ant-checkbox {
  & + span {
    color: #ffffff;
  }
  &-disabled + span {
    color: #cdcdcd;
  }
  &-checked &-inner {
    border-color: #007fd4 !important ;
    background-color: #007fd4;
  }
  &-checked-disabled &-inner {
    background-color: #007fd4;
    border-color: #007fd4 !important;
  }
}
.ant-radio {
  &-wrapper {
    color: #ffffff;
  }
  &-disabled + span {
    color: #cdcdcd;
  }
}

.ant-radio-checked .ant-radio-inner {
  border-color: #007fd4 !important ;
}

.ant-radio-checked .ant-radio-inner:after {
  background-color: #007fd4;
}

.ant-radio:hover .ant-radio-inner {
  border-color: #007fd4;
}

.ClientFamilyInformation {
  &__Form {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    grid-auto-flow: row dense;
    background: #3f3f3f;
    color: #ffffff;
    &__InitialDate {
      margin: 0 0 2rem 62rem;
      padding-top: 2rem;
    }
    &__h1 {
      color: #cdcdcd;
      text-align: center;
    }
    &__SectionGrid2 {
      display: flex;
      justify-content: space-evenly;
    }
    &__SectionGrid3 {
      display: flex;
      justify-content: space-around;
    }
    &__SmallInputs {
      width: 7rem;
    }
    &__SectionGrid1 {
      grid-row: 1 / span 2;
    }
    &__VeteranStatus {
      display: flex;
      flex-direction: row-reverse;
      margin: 0rem 11rem;
    }
    &__FamilyMembers {
      &__Container {
        display: flex;
        justify-content: space-around;
        margin: 0rem 6rem;
      }
      &__formItem {
        display: flow-root;
      }
      &__IsPregnant {
        display: flex;
      }
    }
  }
  &__Inputs {
    width: 20rem;
    &__ItemLabel {
      color: #ffffff;
      width: 25vw;
      &__Small {
        color: #ffffff;
        width: 100%;
      }
    }
    .SingleNote {
      &__Container {
        border-style: groove;
        background-color: #3f3f3f;
        color: #fcfcfc;
        margin: 0 auto 1rem;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 5px;
        grid-auto-flow: row dense;
        width: 50vw;
      }
      &__Picture {
        grid-row: 2;
        grid-column: 1;
        margin: auto;
      }
      &__NoteText {
        grid-row: 2;
        grid-column: 2 / span 4;
        padding-right: 1rem;
      }
      &__InfoStyle {
        margin: 0.5rem 0;
        grid-row: 1;
        grid-column: 3 / span 2;
        &__HeaderStyle {
          color: #fcfcfc;
        }
      }
    }

    .Notes {
      &__Container {
        margin: auto;
        &__SwitchPanel {
          margin: auto;
          display: flex;
          justify-content: center;
        }
      }
      &__ShowNotes {
        overflow-y: scroll;
        max-height: 35vh;
      }
      &__Filter {
        width: 10vw;
        margin: 1rem;
        color: #cdcdcd;
      }
    }
  }
}

.ClientDocuments {
  &__formContainer {
  }
  &__checkboxContainer {
  }
  &__checkboxGroup {
  }
  &__referralsContainer {
  }
  &__referralContainer {
  }
  &__Input {
    &__Name {
      width: 5rem;
    }
    &__Address {
    }
    &__Apt {
    }
    &__City {
    }
    &__State {
    }
    &__Zip {
    }
    &__Email {
    }
    &__Cell {
    }
    &__Work {
    }
    &__Home {
    }
  }
  &__DatePicker {
  }
}

.CaseActivity {
  &_button {
    margin-left: 1em;
  }
}

.ExpandedCaseActivity {
  &_container {
    margin-top: 2em;
    display: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
  }
  &_title-wrap {
    background-color: rgb(51, 51, 51, 0.9);
    margin: 0;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  &_title {
    font-size: 24px;
    text-align: center;
    color: #006fba;
    margin-left: 2em;
  }
  &_legend-wrap {
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(51, 51, 51, 0.99);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  &_legend {
    font-size: 1.2em;
    color: #006fba;
    font-weight: 500;
    text-align: center;
  }
  &_item-wrap {
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #6e6e6e;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  &_item {
    color: white;
    font-weight: 400;
    text-align: center;
  }
}
